<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
</head>
<body>
    <h1>Guestbook</h1>
    <a href="{% url 'home_view' %}"><button>Home</button></a>
    <a href="{% url 'add_guestbook_entry' %}"><button>Add Guestbook Entry</button></a>
    <ul>
        {% for entry in entries %}
            <li><strong>{{ entry.name }}</strong>: {{ entry.message }}</li>
        {% endfor %}
    </ul>
</body>
</html>
